.form {
    display: flex;
}

.left {
    background-image: url('../img/360_F_292905667_yFUJNJPngYeRNlrRL4hApHWxuYyRY4kN.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 157%;
}


.right {
    margin-left: 3%;
    margin-top: 11%;
}
.signup-right{
    margin-left: 3%;
    margin-top: 4%;
}

h1 {
    padding-left: 105px;
    font-weight: 400;
    color: rgb(55, 54, 54);
}

.input {
    width: 95%;
    height: 15%;
    border: 0.5px solid;
    border-color: rgb(240, 237, 237);
    border-radius: 10px;
    color: gray;
    margin: 10px;
    padding-top: 5px;
    padding-left: 22px;
    font-size: large;
}

.input-s {
    width: 95%;
    height: 12%;
    border: 0.5px solid;
    border-color: rgb(240, 237, 237);
    border-radius: 10px;
    color: gray;
    margin: 10px;
    padding-top: 5px;
    padding-left: 22px;
    font-size: large;
}

.input::placeholder {
    color: rgb(174, 174, 174);
    font-weight: 100;
    font-size: 20px;
}

span {
    padding-left: 180px;
}

.button {
    margin-top: 15px;
    margin-left: 15px;
    width: 450px;
    height: 48px;
    border-radius: 10px;
    background-color: #6675df;
    border: none;
    color: white;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(43, 43, 43);
    cursor: pointer;
    transition: .6s ease;
}

p {
    color: rgb(151, 151, 151);
    margin-left: 20px;
}

.forget {
    margin-left: 22%;
    color: #6675df;
}

.a {
    color: #6675df;
    text-decoration: none;
}

.a:hover {
    color: rgb(43, 43, 43);
}